.mahasiswa,
.dosen,
.dash {
  padding-top: 50px;
}

.header-wrapper {
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
}
.button-wrapper a {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

a#adding {
  background: rgba(0, 0, 0, 0.9);
  color: white;
  border-radius: 20px;
  padding: 10px 30px;
  transition: all 0.3s ease;
}

a#adding:hover {
  background-color: rgba(167, 197, 35, 0.9);
  color: black;
}

a {
  text-decoration: none;
  color: black;
  display: block;
  width: 100%;
}
